body{
    background-color: rgba(157,35,203,0.4);
}

#container{
    background-color: white;
    max-width: 80%;
    margin: 0 auto;
}


#conteneur{
    font-family: 'Londrina Solid', cursive;
}
#teddies{
    display: none;
}

#cameras{
    display: none;
}

#meubles{
    display: none;
}

.list-of-teddies{
    display:flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.list-of-cam{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.List-of-furniture{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.name{
    color: red;
}

.price{
    color: darkblue;
}

header{
    height: 10em;
    width: 100%;
    margin-bottom: 10em;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

img{
    width: 120px;
    height: 100px;
}

section{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button{
    display: block;
    margin: auto;
    width: 15em;
    background-color: blueviolet;
    border-radius: 1em;
    border-color: blueviolet;
    color: white;
}

a {
    display: block;
}
