body{
    width: 100%;
    height: 100%;
    font-family: 'Londrina Solid', cursive;
    background-color: rgba(157,35,203,0.4);
}


#container{
    background-color: white;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Londrina Solid', cursive;
}

#place{
    display: flex;
    padding-bottom: 5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

#place2{
    display: block;
}

#place3{
    display: block;
}

header{
    height: 10em;
    width: 100%;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    font-family: 'Londrina Solid', cursive;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

img{
    width: 20em;
    height: 20em;
}

.descrip{
    color: darkblue;
    height: auto;
    font-size: 1.5em;
}

.object{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.name{
    color: blueviolet;
    font-size: 5em;
    text-align: center;
    display: block;
    width: 100%;
}

.price{
    color: red;
    font-size: 3em;
}

#name{
    display: block;
}

#picture{
    width: 20em;
}

#description{
    width: 20em;
    text-align: center;
    border: 1px solid black;
}

#price{
    text-align: center;
    border: 1px solid black;
}

#choice{
    display: flex;
    width: 50%;
}

#cart{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}