body{
    font-family: 'Londrina Solid', cursive;
}

#container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
}

header{
    background-color: blueviolet;
    border: 1px solid blueviolet;
    height: 10em;
    width: 100%;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    font-family: 'Londrina Solid', cursive;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

img{
    width: 30em;
    height: 30em;
}

.descrip{
    color: darkblue;
    width: 10em;
    margin-left: 2em;
    font-size: 1.5em;
    padding-top: 4em;
}

.object{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.name{
    color: blueviolet;
    font-size: 5em;
    text-align: center;
    display: block;
    width: 100%;
}

.price{
    color: red;
    font-size: 5em;
    padding-top: 2em;
}