@media screen and (max-width: 991px){
    body {
        background-color: rgba(52, 73, 94, 1);
        display: flex;
    }

    .container {
        width: 100%;
        margin: 2em auto 2em;
    }


    #conteneur {
        font-family: 'Londrina Solid', cursive;
        width: 100%;
    }

    .welcome {
        padding-top: 2em;
        text-align: center;
    }

    #ted {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    #cam {
        margin-bottom: 1em;
    }

    #meuble {
        margin-bottom: 1em;
    }

    #teddies {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    #cameras {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    #meubles {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    .list-of-teddies {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .list-of-cam {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .List-of-furniture {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .teddy{
        text-align: center;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 2px;
    }

    .teddy:hover{
        box-shadow: 10px 3px 3px white;
    }

    .cam{
        text-align: center;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 2px;
    }

    .cam:hover{
        box-shadow: 10px 3px 3px white;
    }

    .meuble{
        text-align: center;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 2px;
    }

    .meuble:hover{
        box-shadow: 10px 3px 3px white;
    }

    .name {
        color: rgba(52, 73, 94, 0.9);
        height: 50px;
    }

    .price {
        color: rgba(52, 73, 94, 0.9);
        height: 30px;
    }

    .descrip {
        color: rgba(52, 73, 94, 0.9);
    }

    .description {
        color: rgba(52, 73, 94, 0.9);
    }

    header {
        height: 5em;
        width: 100%;
    }

    header h1 a{
        color: white;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /*padding: 50px 60px 0 60px;*/
    }

    nav li {
        margin-top: 0.5em;
        margin-right: 0.5em;
        list-style: none;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav li span {
        padding-left: 5px;
    }

    li a {
        border-radius: 20px;
        padding: 5px;
        background-color: #fff;
        text-decoration: none;
        color: black;
    }

    .cart a {
        background-color: royalblue;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    img {

        width: 120px;
        height: 100px;
        text-align: center;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        display: block;
        color: rgba(52, 73, 94, 0.9);
    }

    footer {
        bottom: 0;
        height: 4em;
    }

    footer ul {
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    footer ul li {
        font-size: 2em;
        margin-top: 0.25em;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        color: white;
    }

    footer ul li a {
        background-color: rgba(52, 73, 94, 1);
        color: white;
        text-decoration: none;
    }
}


@media screen and (min-width: 991px) {
    body {
        background-color: rgba(52, 73, 94, 1);
        display: flex;
    }

    .container {
        width: 100%;
        margin: 0 auto 2em;
    }

    #conteneur {
        font-family: 'Londrina Solid', cursive;
        width: 100%;
    }

    .welcome {
        padding-top: 2em;
        text-align: center;
    }

    #ted {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    #cam {
        margin-bottom: 1em;
    }

    #meuble {
        margin-bottom: 1em;
    }

    #teddies {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    #cameras {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    #meubles {
        width: 100%;
        padding: 20px;
        background: rgba(52, 73, 94, 0.9);
    }

    .list-of-teddies {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .list-of-cam {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .List-of-furniture {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .teddy{
        text-align: center;
        border-radius: 20px;
        border: 1px solid white;
        background-color: white;
    }

    .teddy:hover{
        box-shadow: 10px 3px 3px white;
    }

    .cam{
        text-align: center;
        border-radius: 20px;
        border: 1px solid white;
        background-color: white;
    }

    .cam:hover{
        box-shadow: 10px 3px 3px white;
    }

    .meuble{
        text-align: center;
        border-radius: 20px;
        border: 1px solid white;
        background-color: white;
    }

    .meuble:hover{
        box-shadow: 10px 3px 3px white;
    }

    .name {
        color: rgba(52, 73, 94, 0.9);
        height: 50px;
    }

    .price {
        color: rgba(52, 73, 94, 0.9);
        height: 30px;
    }

    .descrip {
        color: rgba(52, 73, 94, 0.9);
    }

    .description {
        color: rgba(52, 73, 94, 0.9);
    }

    header {
        height: 8em;
        width: 100%;
    }

    header h1 a {
        color: white;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 60px 0 60px;
    }

    nav li {
        list-style: none;
        display: inline-block;
        padding-left: 7px;
        padding-right: 7px;
    }

    nav li span {
        padding-left: 5px;
    }

    li a {
        border-radius: 20px;
        padding: 5px;
        background-color: #fff;
        text-decoration: none;
        color: black;
    }

    .cart a {
        background-color: royalblue;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    img {
        width: 120px;
        height: 150px;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        display: block;
        margin: auto;
        width: 15em;
        background-color: rgba(52, 73, 94, 1);
        border-radius: 1em;
        border-color: rgba(52, 73, 94, 1);
        color: white;
    }

    a {
        display: block;
        color: rgba(52, 73, 94, 0.9);
    }

    footer {
        bottom: 0;
        height: 4em;
    }

    footer ul {
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    footer ul li {
        font-size: 2em;
        margin-top: 0.25em;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        color: white;
    }

    footer ul li a {
        background-color: rgba(52, 73, 94, 1);
        color: white;
        text-decoration: none;
    }
}