body{
    background-color: rgba(52,73,94 ,1);
    font-family: 'Londrina Solid', cursive;
}

#container{
    background-color: white;
    max-width: 80%;
    margin: 0 auto;
}

img{
    width: 100px;
    height: 100px;
}

header{
    height: 10em;
    width: 100%;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

#products-container{
    max-width: 650px;
    justify-content: space-between;
    margin: auto;
    padding-top: 5em;
}

#product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    margin: auto;
    text-align: center;
}

#remove{
    width: 100px;
}

#product-title{
    width: 100px;
}

#product-picture{
    width: 100px;
}

#product-price{
    width: 100px;
}

#quantity{
    width: 100px;
}

#subtotal{
    width: 100px;
}

#productBasket{
    margin-bottom: 5em;
}

.new-caddy{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1em auto 1em auto;
}

.sub-total{
    width: 100px;
}

.remove-item{
    width: 100px;
}

.caddy-name{
    width: 100px;
}

.caddy-price{
    width: 100px;
}

.caddy-incart{
    width: 100px;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;

    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
}

.button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

button a{
    text-decoration: none;
}